/* ------- IMPORT ------- */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600&family=Open+Sans:wght@300&family=Rubik:wght@400;500;600&family=Ubuntu:wght@300;500&display=swap');
/* -------------------------------- */
/* ------------ PRESETS ----------- */
/* -------------------------------- */

html{
    box-sizing: border-box;
}

*{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: var(--font-type);
}

/* -------------------------------- */
/* ---------- Variables ------------ */
/* -------------------------------- */

:root{

    --font-type: 'Rubik', sans-serif;
    /* ------ Mobile-font ------ */
    --title-font-mobile: 40px;
    --subtitle-font-mobile:25px;
    --subsection-font-mobile: 18px;
    --body-font-mobile: 16px;

    /* ------- Web-Font ------ */

    --title-font: 80px;
    --subtitle-font:50px;
    --subsection-font: 45px;
    --body-font: 18px;

    /* ------- Colors ------ */

    --primary-color: #020403;
    --secondary-color: #ADADAD;
    --tertiary-color: #ffffff;
    

    /*------ Navbar-height----- */

    --navbar-mobile: 60px;
    --navbar-desktop: 100px;
    --plegable-nav: 350px;

    /* ----- Banner ----- */

    --banner-mobile: 500px;
    --banner-desktop: 1000px;
    

}

/* -------------------------------- */
/* -------- HEADER STYLES ------- */
/* -------------------------------- */

.header{
    width: 100%;
    height: var(--navbar-mobile); /* checar si puede ser modificado */
    background-color: var(--primary-color);
    color: var(--tertiary-color);
}

.navbar{
    height: var(--navbar-mobile);
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position:relative;
    z-index: 3;
}

.bar-btn{
    font-size: 40px;
    cursor:pointer;
    margin-right: 12px;
    margin-top: 5px;
}

.nav-menu{
    position: fixed;
    width: 100%;
    /* height: 100vh; checar si puede ser modificado */
    top: var(--navbar-mobile);
    background: var(--primary-color);
    text-align: center;
    transition: all .5s;
    z-index:3;
    
}

.nav-menu li{
    display:none;
    line-height: 30px;
    margin: 20px 0;
    transition: all .5s;
}

.nav-menu li a{
    color:var(--tertiary-color);
    font-size:18px;
    font-weight: 800;

}

.nav-menu li a:active, .nav.nav-menu li a:hover{
    color:var(--secondary-color);
    transition: .3s;
}

#check{
    display: none;
}

#check:checked ~ .nav-menu {
    height: var(--plegable-nav);
    border-bottom-left-radius: 150px 50px;
    border-bottom-right-radius: 150px 50px;
    border-bottom: 15px solid var(--tertiary-color); 
}

#check:checked ~ .nav-menu li {
    display: block;
}


/* -------------------------------- */
/* ------------ BANNER ------------ */
/* -------------------------------- */

.banner{
    height: var(--banner-mobile);
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    color:var(--tertiary-color);
    position:relative;
    background-image: url(/assets/img/svg/Group\ 99.svg);
    background-size: contain;
    background-repeat:no-repeat;
    background-position: 0 50px;
}
.banner .banner-content{
    z-index:1;
    align-items: center;
    display: flex;
    flex-direction: column  
}
.banner .banner-content .banner-title{
    text-align: center;
    margin: 30px 0;
}

.banner .banner-content .banner-title p{
    color:var(--secondary-color);
    font-size: var(--subtitle-font-mobile);
}

.banner .banner-content .banner-title h1{
    font-size: var(--title-font-mobile);
}


.banner .banner-content .banner-image{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-color: var(--tertiary-color);
    margin-top:20px
    
}

.banner .banner-content .banner-image img{
    height: 100%;
    width: 100%;
    border-radius: 150px;
}

.banner .banner-experience{
    width:250px;
    height:60px;
    border-radius: 15px;
    text-align: center;
    font-size: 60px;
    z-index:1;
   
}

.banner .banner-programs .banner-experience-logos{
    display: flex;
    flex-direction: row;
    
}


/* ------ ABOUT ME --------- */

.about-me{
    height: 400px;
    background-color: var(--primary-color);
    background-image: url(/assets/img/svg/Group\ 99.svg);
    background-size: contain;
    background-repeat:no-repeat;
    background-position: 0 0;
}
.about-me h2{
    color: var(--tertiary-color);
    padding-top: 100px ;
}
.about-me p{
    color: var(--secondary-color)
}









/* -------------------------------- */
/* ------- MEDIA QUERIES ---------- */
/* -------------------------------- */
@media (min-width: 500px) { 
    .banner .banner-content .banner-image{
        height: 300px;
        width: 300px;
        border-radius: 150px;
        background-color: var(--tertiary-color);
        
    }
}

@media (min-width: 992px){

    /*---------- HEADER -------- */
    .header .navbar{
        height: var(--navbar-desktop);
    }

    .header .navbar .bar-btn{
        display: none;
    }

    .header .navbar .nav-menu{
        position:relative;
        height: var(--navbar-desktop);
        top:0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 40px;
    }

    .header .navbar .nav-menu li{
        display: inline;
        line-height: 50px;
        margin: 0 10px;
        transition: none;
    }

    .nav-menu{
        display:flex;
        justify-content: right;
        align-items: center;
    }

    .nav-menu li a{ 
        font-size:20px;
    }

    /* ------- BANNER --------- */

    .banner{
        height: 100vh;
    }

    .banner .banner-content .banner-title{
        margin: 30px 0;
    }
    
    .banner .banner-content .banner-title p{
        color:var(--secondary-color);
        font-size: var(--subtitle-font);
    }
    
    .banner .banner-content .banner-title h1{
        font-size: var(--title-font);
    }

    .banner .banner-content .banner-image{
        height: 400px;
        width: 400px;
        border-radius: 200px;
        margin-top:70px
        
    }
    
    .banner .banner-content .banner-image img{
        height: 100%;
        width: 100%;
        border-radius: 200px;
    }

}


/* ------- MEDIA QUERIES -------- */
/* @media (min-width: 576px) { 
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
      
}

// Large devices (desktops, 992px and up)
 { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... } */



