/* ------- IMPORT ------- */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600&family=Open+Sans:wght@300&family=Ubuntu:wght@300;500&display=swap');

/* -------------------------------- */
/* ------------ PRESETS ----------- */
/* -------------------------------- */

html{
    box-sizing: border-box;
}

*{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: var(--font-type);
}

/* -------------------------------- */
/* ---------- Variables ------------ */
/* -------------------------------- */

:root{

    --font-type: "montserrat",sans-serif;
    /* ------ Mobile-font ------ */
    --title-font: 50px;
    --subtitle-font:32px;
    --subsection-font: 18px;
    --body-font: 16px;

    /* ------- Web-Font ------ */

    --title-font: 150px;
    --subtitle-font:50px;
    --subsection-font: 45px;
    --body-font: 18px;

    /* ------- Colors ------ */

    --primary-color: #242635;
    --secondary-color: #D1CECA;
    --tertiary-color: #34B0BE;
    --white-color: #ffffff;
    --img-color: #42465f;
    

    /*------ Navbar-height----- */

    --navbar-mobile: 60px;
    --navbar-desktop: 150px;
    --pplegable-nav: 350px;

    /* ----- Banner ----- */

    --banner-mobile: 800px;
    

}

/* -------------------------------- */
/* -------- HEADER STYLES ------- */
/* -------------------------------- */

.header{
    width: 100%;
    height: var(--navbar-mobile); /* checar si puede ser modificado */
    background-color: var(--primary-color);
    color: var(--white-color);
}

.navbar{
    height: var(--navbar-mobile);
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.bar-btn{
    font-size: 40px;
    cursor:pointer;
    margin-right: 12px;
    margin-top: 5px;
}

.nav-menu{
    position: fixed;
    width: 100%;
    /* height: 100vh; checar si puede ser modificado */
    top: var(--navbar-mobile);
    background: var(--primary-color);
    text-align: center;
    transition: all .5s;
    
}

.nav-menu li{
    display:none;
    line-height: 30px;
    margin: 20px 0;
    transition: all .5s;
}

.nav-menu li a{
    color:var(--white-color);
    font-size:15px;
    text-transform: uppercase   ;
    font-weight: 800;

}

.nav-menu li a:active, .nav.nav-menu li a:hover{
    color:var(--tertiary-color);
    transition: .3s;
}

#check{
    display: none;
}

#check:checked ~ .nav-menu {
    height: var(--pplegable-nav);
    border-bottom-left-radius: 150px 50px;
    border-bottom-right-radius: 150px 50px;
    border-bottom: 15px solid var(--tertiary-color); 
}

#check:checked ~ .nav-menu li {
    display: block;
}


/* -------------------------------- */
/* ------------ BANNER ------------ */
/* -------------------------------- */

.banner{
    height: var(--banner-mobile);
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    color:var(--white-color);
}



.banner .banner-content .banner-image{
    height: 300px;
    width: 300px;
    border-radius: 150px;
    background-color: var(--img-color);
}

.banner .banner-content .banner-image img{
    height: 100%;
    width: 100%;
    border-radius: 150px;
}

.banner .banner-experience{
    width:400px;
    height:80px;
    border-radius: 15px;
    background-color: var(--img-color);
}

.banner .banner-programs .banner-experience-logos{
    display: flex;
    flex-direction: row;
}










/* -------------------------------- */
/* ------- MEDIA QUERIES ---------- */
/* -------------------------------- */

@media (min-width: 992px){
    .header .navbar{
        height: var(--navbar-desktop);
    }

    .header .navbar .bar-btn{
        display: none;
    }

    .header .navbar .nav-menu{
        position:relative;
        height: var(--navbar-desktop);
        top:0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 40px;
    }

    .header .navbar .nav-menu li{
        display: inline;
        line-height: 50px;
        margin: 0 10px;
        transition: none;
    }

  
  
}











/* ------- MEDIA QUERIES -------- */
/* @media (min-width: 576px) { 
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
      
}

// Large devices (desktops, 992px and up)
 { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... } */



