/* ------- IMPORT ------- */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600&family=Open+Sans:wght@300&family=Rubik:wght@400;500;600&family=Ubuntu:wght@300;500&display=swap');
/* -------------------------------- */
/* ---------- Variables ------------ */
/* -------------------------------- */

:root{

    --font-type: 'Montserrat', sans-serif;
    /* ------ Mobile-font ------ */
    --title-font-mobile: 40px;
    --subtitle-font-mobile:25px;
    --subsection-font-mobile: 18px;
    --body-font-mobile: 16px;

    /* ------- Web-Font ------ */

    --title-font: 80px;
    --subtitle-font:50px;
    --subsection-font: 45px;
    --body-font: 24px;

    /* ------- Colors ------ */

    --primary-color: #020403;
    --secondary-color: #ADADAD;
    --tertiary-color: #ffffff;
    

    /*------ Navbar-height----- */

    --navbar-mobile: 60px;
    --navbar-desktop: 100px;
    --plegable-nav: 350px;

    /* ----- Banner ----- */

    --banner-mobile: 480px;
    --banner-desktop: 800px;

    /* ------ ABOUT ME -----*/

    --about-me-mobile: 350px;
    --about-me-desktop: 700px;
    --about-me-svg: 100px;

    /*------ MY SKILLS----*/

    --font-icon: 60px;
    --dim-icon:80px;
    --dim-icon-r:40px;
    

}

/* -------------------------------- */
/* ------------ PRESETS ----------- */
/* -------------------------------- */

html{
    box-sizing: border-box;
}

*{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: var(--font-type);
    background-color: var(--primary-color);
}



/* -------------------------------- */
/* -------- HEADER STYLES ------- */
/* -------------------------------- */

.navbar {
    background-color: var(--primary-color);
    height: var(--navbar-mobile);
    
  }
  
  .navbar__container {
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: inherit;
  }
  
  .navbar__list {
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .navbar__link {
    text-decoration: none;
    color: var(--tertiary-color);
  }
  
  /* Hasta */
  @media screen and (max-width: 768px) {
    .navbar__nav {
      position: absolute;
      top: var(--navbar-mobile);
      width: 100%;
      left: 0;
      background-color: var(--primary-color);
      height: 0;
      padding: 0;
      overflow: hidden;
      z-index: 3;
      transition: all .3s ease-in-out;
      
    }
  
    .navbar__list {
      flex-direction: column;
      opacity: 0;
      height: 0;
      transition: all .2s ease-in-out;
    }
  }
  
  .navbar__nav.active {
    padding: 20px 0;
    height: auto;
    border-bottom-left-radius: 100px 50px;
    border-bottom-right-radius: 100px 50px;
    border-bottom: 10px solid var(--tertiary-color);
  }
  
  .navbar__nav.active .navbar__list {
    opacity: 1;
    height: auto;
  }
  
  .navbar__btn {
    padding-right: 15px;
  }
  
  .navbar__btn-link {
    background-color: var(--primary-color);
    border: none;
    outline: none;
    color: var(--tertiary-color);
    cursor: pointer;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
/* -------------------------------- */
/* ------------ BANNER ------------ */
/* -------------------------------- */

.banner{
    height: var(--banner-mobile);
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    color:var(--tertiary-color);
    position:relative;
    background-image: url(/assets/img/svg/Group\ 99.svg);
    background-size: contain;
    background-repeat:no-repeat;
    background-position: 0 50px;
}
.banner .banner-content{
    z-index:1;
    align-items: center;
    display: flex;
    flex-direction: column  
}
.banner .banner-content .banner-title{
    text-align: center;
    margin: 30px 0;
}

.banner .banner-content .banner-title p{
    color:var(--secondary-color);
    font-size: var(--subtitle-font-mobile);
}

.banner .banner-content .banner-title h1{
    font-size: var(--title-font-mobile);
}


.banner .banner-content .banner-image{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-color: var(--tertiary-color);
    margin-top:20px
    
}

.banner .banner-content .banner-image img{
    height: 100%;
    width: 100%;
    border-radius: 150px;
}

.banner .banner-experience{
    width:250px;
    height:60px;
    border-radius: 15px;
    text-align: center;
    font-size: 60px;
    z-index:1;
   
}

.banner .banner-programs .banner-experience-logos{
    display: flex;
    flex-direction: row;
    
}




/* ------ ABOUT ME --------- */

.about-me{
    height: auto;
    background-color: var(--primary-color);
    position: relative;
    
}

.about-me .about-me-svg{
    height: var(--about-me-svg);
    background-image: url(/assets/img/svg/Group\ 97.svg);
    background-size: contain;
    background-repeat:no-repeat;
    background-position: -50px ;
    z-index: 0;
}

.about-me .about-me-container{
    position: relative;
    z-index:1;
    width:85%;
    height: auto;
    margin: auto;
    padding: 30px;
    top:-60px;
    text-align: center;
}

.about-me .about-me-container h2{
    color: var(--tertiary-color);
    font-size: var(--subtitle-font-mobile);
    
}
.about-me .about-me-container p{
    margin-top: 10px;
    color: var(--secondary-color)
}


/* ------ My skills --------- */

.my-skills .skills-svg{
    height: var(--about-me-svg);
    background-image: url(/assets/img/svg/Group\ 97.svg);
    background-size: contain;
    background-repeat:no-repeat;
    background-position: 110% 0% ;
    z-index: 0;
}

.my-skills{
    position: relative;
    height: auto;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    top: -90px;
}
.my-skills .my-skills-content{
    padding: 20px;
}

.my-skills .my-skills-tittle{
    text-align: center;
    font-size: var(--subsection-font-mobile);
}

.my-skills .my-skills-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin:auto;
    position: relative;
    top: 40px;
}

.my-skills .my-skills-cards .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.my-skills .my-skills-cards .card .card-icon{
    font-size: var(--font-icon);
    background-color: #2e2e2e;
    height: var(--dim-icon);
    width: var(--dim-icon);
    border-radius: calc(var(--dim-icon)/2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-skills .my-skills-cards .card h3{
    margin: 7px;
    font-size: var(--subsection-font-mobile);
}

/* ----- My work ------- */

.my-work .about-me-svg{
    height: var(--about-me-svg);
    background-image: url(/assets/img/svg/Group\ 97.svg);
    background-size: contain;
    background-repeat:no-repeat;
    background-position: -50px ;
    z-index: 0;
}

.my-work{
    position: relative;
    top:-60px;
}

.my-work .my-work-tittle{
    color:var(--tertiary-color);
    text-align: center;
    font-size: var(--subsection-font-mobile);
}

.my-work .my-work-cards{
    display:flex;
    flex-direction: column;
    width: 85%;
    margin:auto;
}

.my-work .my-work-cards .card-work{
    margin:20px 0 0 0;
    position: relative;
    
}

.my-work .my-work-cards .card-work img{
    width: 100%;
    z-index:0;
    border-radius: 20px;
}

/* .my-work .my-work-cards .card-work span{
    position: absolute;
    color: var(--primary-color);
    z-index:2;
    right: 20px;
    bottom: 20px;
    font-size: var(--subtitle-font-mobile);
} */

/* ------ CONTACT --------*/
.contact{
    color: var(--tertiary-color);
    text-align: center;
}

.contact h3{
    font-size: var(--subsection-font-mobile);
    padding: 0;
}

.contact .contact-content{
    display:grid;
    grid-template-columns: 1fr 1fr;
    color: var(--tertiary-color);
    margin: auto;
    width: 85%;
}



.contact .contact-content .card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact .contact-content .card .card-icon{
    border:1px solid var(--tertiary-color);
    height: var(--dim-icon);
    width: var(--dim-icon);
    border-radius: calc(var(--dim-icon)/2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    
}

.contact .contact-content .card .card-icon img{
    height: var(--dim-icon-r);
    width: var(--dim-icon-r);
}

.contact .contact-content .card p{
    margin: 10px;
   font-size: 12px;
   color: var(--secondary-color)
}

/* ----- FOOTER ------*/

.footer{
    height: 70px;
    color: var(--secondary-color);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p::after{
    content: ' ❤';
    font-size: 20px;
}




/* -------------------------------- */
/* ------- MEDIA QUERIES ---------- */
/* -------------------------------- */
@media (min-width: 500px) { 
    /* :root{
        --about-me-svg: 200px;
    } */

    :root{
        --dim-icon: 100px;
        --font-icon:80px;
    }

    .banner{
        height: auto;
    }
    .banner .banner-content .banner-image{
        height: 300px;
        width: 300px;
        border-radius: 150px;
        background-color: var(--tertiary-color);
        
    }

    /* .about-me .about-me-svg{
        background-position: -100px 0;
    } */

    .about-me .about-me-container{
        top:-50px;
    }

    .about-me .about-me-container h2{
        font-size: 30px; 
    }    

    .my-skills .my-skills-tittle{
        font-size: 24px;
    }

    .my-skills .my-skills-cards .card h3{
        font-size: var(--subtitle-font-mobile);
    }
    
    .my-work .my-work-cards{
        display:grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .my-work .my-work-tittle{
        
        font-size: var(--subtitle-font-mobile);
    }

    .contact .contact-title{
        font-size: var(--subtitle-font-mobile);
    }

    .contact .contact-content .card{
        margin: 20px;
    }

    .contact .contact-content .card p{
       font-size: 14px;
       color: var(--secondary-color)
    }

    .footer{
        font-size: 24px;
    }

    
}

@media (min-width: 768px){
    :root{
        --about-me-svg: 150px;
    } 
    .about-me .about-me-svg{
        background-position: -90px 0;
    } 
    .contact .contact-content .card p{
        font-size: 20px;
        color: var(--secondary-color)
    }
    .navbar .navbar__container .navbar__btn{
        display: none;
    }

    .navbar .navbar__container .navbar__nav{
        margin-right: 50px;
    }

}

@media (min-width: 992px){

    :root{
        --about-me-svg: 250px;
        --dim-icon: 150px;
        --font-icon:100px;
    }

    /*---------- HEADER -------- */
    .navbar{
        height: var(--navbar-desktop);
    }
    .navbar .navbar__container{
        height: var(--navbar-desktop);
    }

    .navbar .navbar__container .navbar__btn{
        display: none;
    }

    .navbar .navbar__container .navbar__nav{
        position:relative;
        height: var(--navbar-desktop);
        top:0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;
    }

    .navbar .navbar__container .navbar_nav .navbar__list{
        display: inline;
        line-height: 50px;
        margin: 0 10px;
        transition: none;
    }

    .navbar__nav{
        display:flex;
        justify-content: right;
        align-items: center;
    }

    .navbar__link {
        font-size: 20px;
    }

    /* ------- BANNER --------- */

    .banner{
        height: var(--banner-desktop);
    }

    .banner .banner-content .banner-title{
        margin: 30px 0;
    }
    
    .banner .banner-content .banner-title p{
        color:var(--secondary-color);
        font-size: var(--subtitle-font);
    }
    
    .banner .banner-content .banner-title h1{
        font-size: var(--title-font);
    }

    .banner .banner-content .banner-image{
        height: 400px;
        width: 400px;
        border-radius: 200px;
        margin-top:70px
        
    }
    
    .banner .banner-content .banner-image img{
        height: 100%;
        width: 100%;
        border-radius: 200px;
    }

    /*---- ABOUT ME -------*/
    .about-me .about-me-svg{
        background-position: -100px ;
    }
    .about-me .about-me-container{
        top:-80px;
    }
    .about-me .about-me-container h2{
        font-size: var(--subtitle-font);
        
    }
    .about-me .about-me-container p{
        margin-top: 10px;
        color: var(--secondary-color);
        font-size:var(--body-font)
    }

    .my-skills{
        top: -110px;
    }
    .my-skills .my-skills-tittle{
        font-size: var(--subtitle-font);
    }

    .my-skills .my-skills-cards .card h3{
        
        font-size: var(--subsection-font);
    }

    .my-work .my-work-tittle{
        
        font-size: var(--subtitle-font);
    }

}


/* ------- MEDIA QUERIES -------- */
/* @media (min-width: 576px) { 
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
      
}

// Large devices (desktops, 992px and up)
 { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... } */



